USE [master]
GO
/****** Object:  Database [BitSharp]    Script Date: 2013-07-03 9:25:19 AM ******/
CREATE DATABASE [BitSharp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bitcoin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bitcoin.mdf' , SIZE = 11785280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bitcoin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bitcoin_log.ldf' , SIZE = 636928KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BitSharp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BitSharp]
GO
/****** Object:  Table [dbo].[BlockData]    Script Date: 2013-07-03 9:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlockData](
	[BlockHash] [binary](32) NOT NULL,
	[RawBytes] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Blocks] PRIMARY KEY NONCLUSTERED 
(
	[BlockHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BlockMetadata]    Script Date: 2013-07-03 9:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlockMetadata](
	[BlockHash] [binary](32) NOT NULL,
	[PreviousBlockHash] [binary](32) NOT NULL,
	[Height] [bigint] NULL,
	[TotalWork] [binary](64) NULL,
	[IsValid] [bit] NULL,
 CONSTRAINT [PK_BlockMetaData] PRIMARY KEY NONCLUSTERED 
(
	[BlockHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KnownAddresses]    Script Date: 2013-07-03 9:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KnownAddresses](
	[IPAddress] [binary](16) NOT NULL,
	[Port] [binary](2) NOT NULL,
	[Services] [binary](8) NOT NULL,
	[Time] [binary](4) NOT NULL,
 CONSTRAINT [PK_KnownAddresses] PRIMARY KEY CLUSTERED 
(
	[IPAddress] ASC,
	[Port] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 2013-07-03 9:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionHash] [binary](32) NOT NULL,
	[TransactionData] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY NONCLUSTERED 
(
	[TransactionHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UtxoData]    Script Date: 2013-07-03 9:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UtxoData](
	[RootBlockHash] [binary](32) NOT NULL,
	[PreviousTransactionHash] [binary](32) NOT NULL,
	[PreviousTransactionOutputIndex] [binary](4) NOT NULL,
 CONSTRAINT [PK_UtxoData] PRIMARY KEY NONCLUSTERED 
(
	[RootBlockHash] ASC,
	[PreviousTransactionHash] ASC,
	[PreviousTransactionOutputIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
